<!DOCTYPE html>
<html>
<head>
  <title>Flixter by Aleks Gorbenko</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://vjs.zencdn.net/5.10.2/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/5.10.2/video.js"></script>
</head>

<body>
  <div id="wrap">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-sm-4 col-md-4 col-lg-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand">
            <!-- <% link_to root_path  %> -->
            <img src="/assets/logo.png">
              <span>FLIXTER.</span>
          </a>
        </div>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 my-navbar">
          <ul class="nav navbar-nav col-md-4 col-md-offset-2">
            <li class="active">
              <%= link_to("See All Courses", courses_path) %><span class="sr-only">(current)</span></a>
            </li>
            <li><a href="#">Link</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

          <% if !user_signed_in? %>
              <li> <%= link_to("Sign Up", new_user_registration_path, class: 'btn btn-success', id: 'sign-up') %> </li>
              <li> <%= link_to("Sign In", new_user_session_path) %> </li>
          <% else %>
              <li>
                <%= link_to dashboard_path do %>
                <%= current_user.email %>
                <% end %>
              </li>
              <li> <%= link_to("Sign Out", destroy_user_session_path, method: :delete) %> </li>
          <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



  <% if notice.present? %>
    <p class="alert alert-info text-center"><%= notice %>
      <button class="close" data-dismiss="alert">×</button>
    </p>
  <% end %>

  <% if flash[:success] %>
    <p class="alert alert-success text-center"><%= flash[:success] %>
      <button class="close" data-dismiss="alert">×</button>
    </p>
  <% end %>

  <% if alert.present? %>
    <p class="alert alert-danger text-center"><%= alert %>
      <button class="close" data-dismiss="alert">×</button>
    </p>
  <% end %>

  <%= yield %>

  </div>

  <br class="clear">

  <div id="footer">
    <div class="footer">
      <div class="cols-xs-12 col-sm-3 footer-section">
        <b>Teachers</b>
        <br>
        <br>
        <%= link_to "Teach a Course", new_instructor_course_path %>
        <br>
        <%= link_to dashboard_path do %>
          My Dashboard (<%= current_user.email %>)
        <% end %>
      </div>

      <div class="cols-xs-12 col-sm-3 footer-section">
        <b>About</b>
        <br>
        <br>
        <%= link_to 'Team', "#" %>
        <br>
        <%= link_to 'Careers', "#" %>
        <br>
        <%= link_to 'Privacy Policy', "#" %>
      </div>

      <div class="cols-xs-12 col-sm-3 footer-section">
        <b>Contact</b>
        <br>
        <br>
        Aleks Gorbenko
        <br>
        AleksEdGorbenko@gmail.com
        <br>
        London, UK
      </div>

      <div class="cols-xs-12 col-sm-3 footer-section">
        <b>Social</b>
        <br>
        <br>
        <%= link_to 'https://github.com/aleksgorbenko' do %>
          <%= image_tag 'github.png', class: 'social-button' %>
        <% end %>
        <%= link_to 'https://uk.linkedin.com/in/seospecialistlondon' do %>
          <%= image_tag 'linkedin.png', class: 'social-button' %>
        <% end %>
        <%= link_to 'https://www.facebook.com/aleksandrgorbenko12' do %>
          <%= image_tag 'facebook.png', class: 'social-button' %>
        <% end %>
      </div>

    </div>
  </div>

</body>
</html>
