<!DOCTYPE html>
<html>
<head>
  <title>Flixter by Aleks Gorbenko</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://vjs.zencdn.net/5.10.2/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/5.10.2/video.js"></script>
</head>

<body>
  <div id="wrap">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-sm-12 col-md-3 col-lg-3">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand", id: "brand"  do %>
            <%= image_tag 'logo.png' %>
              <span>
                FLIXTER.
              </span>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-navbar">
          <ul class="nav navbar-nav col-md-5">
            <li>
              <%= link_to "See All Courses", courses_path %>
            </li>
            <% if user_signed_in? %>
            <li>
              <%= link_to "Teach a Course", new_instructor_course_path, class: 'btn btn-success', id: 'btn-action' %>
            </li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">

          <% if !user_signed_in? %>
              <li>
                <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success', id: 'btn-action' %>
              </li>
              <li>
                <%= link_to "Sign In", new_user_session_path %>
              </li>
          <% else %>
              <li>
                <%= link_to current_user.email, dashboard_path %>
              </li>
              <li>
                <%= link_to("Sign Out", destroy_user_session_path, method: :delete) %>
              </li>
          <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <!-- Alerts -->
  <%= render "layouts/alerts" %>

  <%= yield %>
  </div>
  <br class="clear">

  <%= render "layouts/footer" %>

</body>
</html>
